body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    min-width: 1000px;
    max-width: 1400px;
    margin: auto;
}

a {
    text-decoration: none;
}

form {
    width: 100%;
}

input {
    display: inline-block;
    height: 3rem;
    border: none;
    padding-left: 2rem;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

input::placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #969697;
}

.fieldsearch {
    background-image: url("../img/icon-search.png");
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 2rem;
    box-sizing: border-box;
    padding-left: 4rem;
}

label {
    font-size: 20px;
    font-weight: 400;
    color: #969697;
    padding-left: 1rem;
}

table {
    width: 100%;
    font-size: 20px;
    color: #969697;
    padding: 5% 0;
    border-spacing: 0 3px;
    text-align: center;
}

table tr {
    height: 3rem;
}

table td {
    background-color: #D6D6D6;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    color: #969697;
}

.borderbox {    
    border: 1px solid #707070;
    box-sizing: border-box;
}

.contentpage {
    margin: 5px;
}

.content_outside {
    height: 3rem;
}

/*Сторінка входу*/

.loginpage {
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 10% 0;
    box-sizing: border-box;
    display: flex;
}

.loginpage_logo {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-right: 5px solid #FFA500;
}

.loginpage_logo > img {
    width: 60%;
}

.enter {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-left: 5px solid #FFA500;
}

.loginpage_form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 10%;
}

.enter_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}

.enter_button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 3rem;
    margin: 5% 0;
    background-color: #00BFFF;
    border: #00BFFF;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.enter_button > a {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

/*Верхня панель меню*/

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 102px;
    background-color: #155767;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.contentpage_logo {
    width: 20%;
    background-color: #FFFFFF;
    border-radius: 0 100px 100px 0;
}

.nav_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-right: 20px;
}

.nav_top img {
    height: 50%;
}

.nav_top_menu {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.nav_top_items {
    width: 30%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav_top_items_link {
    padding-left: 6%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
}

.nav_top_items_link > img {
    margin-right: 20%;
}

#tm_middle_item {
    background-image: url("../img/tm-ellipse.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.tm_link {
    color: #FFFFFF;
}

.logout {
    width: 5%;
}

/*Бокова панель меню*/

nav {
    width: 20%;
    display: flex;
}

.nav_left_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20%;
    padding-left: 10%;
}

.nav_left_items {
    list-style: none;
    margin: .5rem 0;
    display: flex;
    align-items: center;
}

.nav_left_menu > li::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../img/nav-dashboard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

ul.nav_left_menu > li:nth-child(2)::before {
    background-image: url("../img/nav-sessions.png");
}

ul.nav_left_menu > li:nth-child(3)::before {
    background-image: url("../img/nav-payment.png");
}

ul.nav_left_menu > li:nth-child(4)::before {
    background-image: url("../img/nav-user.png");
}

ul.nav_left_menu > li:nth-child(5)::before {
    background-image: url("../img/nav-registration.png");
}

ul.nav_left_menu > li:nth-child(6)::before {
    background-image: url("../img/nav-reports.png");
}

.nav_left_items > a {
    color: #000000;
}

.activelink {
    font-weight: 700;    
}

/*Основний контент*/

.maincontent {
    width: 100%;
    display: flex;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.inside {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
}

.content_inside {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_inside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border-bottom: 1px solid #707070;
}

/*Верхня секція і кнопки*/

.content_header {
    width: 95%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentbutton_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_outside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.contentbutton {
    height: 3rem;
    background-color: #A2A3A4;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 0 2rem;
}

.contentbutton:hover {
    background-color: #00BFFF;
}

.contentbutton_br {
    border-radius: 10px;
    padding: 0 2rem;
    border: none;
}

.button_icon {
    height: 3rem;
    width: 3rem;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_icon > img {
    width: 50%;
}

#buttonkey {
    width: 100%;
    height: 3rem;
}

#buttonkey::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../img/vpn_key.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.user_icon {
    color: #969697;
    font-size: 24px;
    font-weight: 700;
}

/*Загальні стилі форм*/

.content_forms {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content_formfield_long {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

.content_formfield_short {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5%;
}

.content_formfield_ins {
    display: flex;
    flex-direction: column;
}

.content_radio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 3%;
}

.formfield_radio {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formfield_radio input[type="radio"]:checked + label {
    color: #000000;
}

/*Індивідуальні стилі форм*/

#form_localtoken {
    width: 65%;
}

#form_button {
    width: 35%;
}

.formfield_short {
    width: 45%;
}

.fieldsearch_first {
    width: 30%;
}

.fieldsearch_second {
    width: 67%;
}

#formfield_short_chargingpage {
    width: 75%;
}

.formfield_short_chargingpage {
    width: 22%;
}

.formfield_short_chargingpage > input {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

input#rating {
    display: inline-block;
    background-image: url("../img/star.svg");
    background-size: 20%;
    background-repeat: space;
    background-position: center;
}

#content_inside {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img_inside_url {
    border-bottom: 1px solid #000;
}

.content_inside > img {
    width: 30%;
}
