body {
    margin: 0;    
    background-color: #212529;
}

header {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: 66px;
    width: 94%;
    margin: 2% 3% 0;
}

main {
    width: 90%;
    margin: 100px auto;
}

footer {
    display: flex;
    align-items: flex-end;
}

a {
    text-decoration: none;
}

.span-color {
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.light-button {
    background-color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 1em 2em;
}

.light-button a {
    color: #212529;
}

.dark-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292B2E;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    height: 42px;
}

.dark-button a {
    color: #FFB742;
}

.mainsection-name {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

            /*Меню навігації*/

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    font-weight: 600;
}

.nav-items {
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-items li {
    list-style: none;
    margin: 0 1em;
}

.nav-items li a {
    color: #FFFFFF;
}

.nav-items li:hover a {
    color: #FFB742;
}

            /*Блок з аватаром*/

.avatar-section {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-section-name {
    font-size: 32px;
    font-weight: 700;
}

.avatar-section-name a {
    text-decoration: underline;
}

.avatar-section-profession {
    font-size: 48px;
    font-weight: 700;
}

.avatar-section-about {
    font-size: 24px;
    margin: 25px auto 22px;
}

.avatar {
    width: 210px;
}

.avatar img {
    width: 100%;
}

            /*Блок з лічильником*/

.meter {
    display: flex;
    justify-content: space-between;
    margin: 137px auto;
    height: 120px;
    font-family: 'Inter', sans-serif;

}

.meter-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    color: #FFFFFF;    
    background-color: #292B2E;
    font-size: 16px;
    font-weight: 700;    
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

.meter-column:hover {
    background-color: #FFB742;
    color: #000000;
    transition: all .3s;
    box-shadow: 10px 10px 51px rgba(0, 0, 0, .25);
}

.meter-icon {
    width: 60px;
}

.meter-number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meter-column:hover .meter-number .span-color {
    color: #000000;
}


.meter-number a {
    color: #FFFFFF;
}

.meter-column:hover a {
    color: #000000;
}

.meter-arrow {
    background-color: #FFFFFF;
    width: 16px;
    height: 16px;
    clip-path: polygon(20% 0, 70% 50%, 20% 100%, 0 80%, 30% 50%, 0 20%);
}

.meter-column:hover .meter-arrow {
    background-color: #000000;
}

            /*Блок Про мене*/

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 65px;
}

.about-foto {
    width: 40%;
    background-image: url("../img/foto-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-foto img {
    width: 100%;
}

.about-info {
    width: 55%;
}

.about-info-whoiam {
    width: 148px;
}

.about-info-information {
    font-size: 16px;
    color: #D4D4D4;
}

.info-button {
    width: 148px;
    height: 54px;
    margin-top: 60px;
}

            /*Блок з проектами*/

.projects {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.projects-myworks {
    width: 160px;
}

.projects-list {
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.projects-list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.projects-list-menu a {
    color: #FFFFFF;
}

.projects-list-menu li {
    padding: 1em 1em;
    border-radius: 3px;
}

.projects-list-menu li:hover {
    background-color: #FFB742;
}

.projects-list-menu li:hover a {
    color: #212529;
}

.projects-sample {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects-sample-img {
    width: 30%;
    margin-top: 30px;
    border-radius: 5px;
}

.projects-sample-img img {
    width: 100%;
}

            /*Підвал*/

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 190px 0 90px;
    background-color: #1C1C1C;
    font-family: 'Work Sans', sans-serif;
}

.footer-menu {
    width: 20%;
}

.footer-menu a {
    text-decoration: none;
}

.footer-name-prof {
    font-size: 16px;
    font-weight: 600;
    color: #D4D4D4;
}

.footer-menu-name {
    color: #F5FBF2;    
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}

.footer-menu-info {
    color: #7B7B7B;
    font-size: 18px;
    font-weight: 500;
}

.footer-menu-info a {
    color: #7B7B7B;
}


.footer-menu-list {
    list-style: none;
    padding: 0;
}