body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

main {
    width: 755px;
    background-color: #FFB084;
    border-radius: 20px;
    margin: 5% auto;
    padding: 27px 45px 33px 38px;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: repeat(12, auto);
    gap: 14px 22px;
}

.container div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/11;
}

.container div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 11/13;
}

.container div:nth-child(3) {
    grid-column: 2/4;
    grid-row: 1/5;
}

.container div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 5/8;
    box-shadow: 7px 7px #29A71E;
    color: #29A71E;
}

.container div:nth-child(5) {
    grid-column: 3/4;
    grid-row: 5/10;
    box-shadow: 7px 7px #E13535;
    color: #E13535;
}

.container div:nth-child(6) {
    grid-column: 2/3;
    grid-row: 8/13;
    box-shadow: 7px 7px #3675B0;
    color: #3675B0;
}

.container div:nth-child(7) {
    grid-column: 3/4;
    grid-row: 10/13;
}

.block {
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 7px 7px #000000;
    padding: 15px 25px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.short_info {
    font-size: 12px;
    margin-top: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-top: 0;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

ul {
    padding-left: 25px;
}



