:root {
    font-size: 10px;
    --font: 'Rosario', sans-serif;    
    --circle_g: 35rem;
    --circle_v: 35rem;
    --circle_a: 10s;
    --circle_width: 35%;
    --header-height: 12rem;
}

body {
    margin: 0;
    font-family: var(--font);
    font-weight: 700;
    font-size: 1rem;
}

main {
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

/*Панель навігації*/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000;
    height: var(--header-height);
    width: 100%;
    padding: 0;
    position: fixed;
    z-index: 2;  
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
}

nav {
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--font);
    margin-top: 2rem;
}

.bg-dark {
    background-color: #000000!important;
}

.nav-link {
    color: #FFFCFC!important;
    font-style: italic;
    display: inline-block;
    margin-right: 2rem;
}

.navbar-toggler {
    font-size: 3rem;
    align-items: flex-end;
}

/*Основний контент*/

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    padding: 0;
}

/*Перша сторінка*/

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - var(--header-height));
    width: 100%;
} 

.gallery_img {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_img > img {
    width: 90%;
    margin: 5% 0;
}

.gallery_leftfirst {
    position: relative;
    animation: leftfirst 1s linear;
}

@keyframes leftfirst {
    from {left: -100%;}
    to {left: 0;}
}

.gallery_rightfirst {
    position: relative;
    animation: rightfirst 1s linear;
}

@keyframes rightfirst {
    from {right: -100%;}
    to {right: 0;}
}

.gallery_leftsecond {
    position: relative;
    animation: leftsecond 2s linear;
}

@keyframes leftsecond {
    from {left: -100%;}
    to {left: 0;}
}

.gallery_rightsecond {
    position: relative;
    animation: rightsecond 2s linear;
}

@keyframes rightsecond {
    from {right: -100%;}
    to {right: 0;}
}

/*Друга сторінка*/

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - var(--header-height));
    width: 100%;
}

.services_circles {
    width: 49%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.services_circles_circle {
    width: var(--circle_width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services_circles_circle > img {
    width: 100%;
}

.services_circles_circle > figcaption {
    font-size: 4.8rem;
    font-style: italic;
    color: #000000;
    text-align: center;
}

.services_barber {
    width: 49%;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
}

.services_barber > img {
    width: 100%;
}

.circle_lt {
    position: relative;
    animation: circle_lt var(--circle_a) infinite;
}

@keyframes circle_lt {
    0% {left: 0; top: 0;}
    25% {left: var(--circle_g); top: 0;}    
    50% {left: var(--circle_g); top: var(--circle_v);}
    75% {left: 0; top: var(--circle_v);}
    100% {left: 0; top: 0;}
}

.circle_rt {
    position: relative;
    animation: circle_rt var(--circle_a) infinite;
}

@keyframes circle_rt {
    0% {right: 0; top: 0;}
    25% {right: 0; top: var(--circle_v);}
    50% {right: var(--circle_g); top: var(--circle_v);}
    75% {right: var(--circle_g); top: 0;}
    100% {right: 0; top: 0;}
}

.circle_lb {
    position: relative;
    animation: circle_lb var(--circle_a) infinite;
}

@keyframes circle_lb {
    0% {left: 0; bottom: 0;}
    25% {left: 0; bottom: var(--circle_v);}
    50% {left: var(--circle_g); bottom: var(--circle_v);}
    75% {left: var(--circle_g); bottom: 0;}
    100% {left: 0; bottom: 0;}
}

.circle_rb {
    position: relative;
    animation: circle_rb var(--circle_a) infinite;
}

@keyframes circle_rb {
    0% {right: 0; bottom: 0;}
    25% {right: var(--circle_g); bottom: 0;}
    50% {right: var(--circle_g); bottom: var(--circle_v);}
    75% {right: 0; bottom: var(--circle_v);}
    100% {right: 0; bottom: 0;}
}

/*Третя сторінка*/

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: calc(100vh - var(--header-height));  
}

h1 {
    font-size: 9.6rem;
    margin: 0 0 5rem;
    text-align: center;    
}

.team_cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.team_cards_card img {
    width: 100%;
}

.team_cards_card {
    width: 17%;
    position: relative;
    border-radius: 4rem;
}

.team_card_hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    font-family: 'Volkhov', serif;
    color: #FFFAFA;
    font-size: 4.8rem;
    font-weight: 400;
    bottom: 0;
    height: 25%;
    border-radius: 0 0 4rem 4rem;
    width: 100%;
    transition: all .3s linear;
    background-color: rgb(163, 83, 10, .7);
}

.team_cards_card:hover .team_card_hidden {
    visibility: visible;
    opacity: 1;
}

.team_cards:hover .team_card_brightness {
    filter: brightness(.5);
    transition: all .3s linear;
}

.team_cards .team_card_brightness:hover {
    filter: brightness(1);
}

/*Четверта сторінка*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--header-height));
}

h2 {
    font-size: 6.4rem;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 3.6rem;
    margin-top: 0;
}

.contact_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_section_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

form {
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

.form_elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

input {
    width: 45%;
    height: 6.5rem;
}

input::placeholder {
    font-family: var(--font);
    font-size: 3.6rem;
    color: rgba(0, 0, 0, .5);
    padding-left: 1.5rem;
}

textarea {
    width: 100%;
    height: 20rem;
    resize: none;
    font-family: var(--font);
    font-size: 3.6rem;
    color: rgba(0, 0, 0, .5);
    padding-left: 1.5rem;
}

.contact_section_map {
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    height: 50rem;
}

.contact_section_info {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    margin: 1.5rem;
}

.contact_info_span {
    font-style: normal;
    font-weight: 700;
}

.contact_section_info a {
    color: #000000;
}

.links_media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.5rem;
    padding-top: .7rem;
    box-sizing: border-box;
}

.links_media img {
    width: 2.5rem;
    height: 2.5rem;
}

@media screen and (min-width: 1400px) {
    :root {
        --circle_g: 35rem;
        --circle_v: 35rem;
        font-size: 10px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1399px) {
    :root {
        font-size: 7px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    :root {
        font-size: 7px;
        --circle_g: 27rem;
        --circle_v: 27rem;
    }

    header {
        height: 10vh;
    }

    .container {
        height: 100vh!important;
    }
   
    .gallery_img {
        max-height: 50%!important;
    }

    .gallery_leftfirst {
        position: relative;
        top: -27%;
        left: -10%;
    }

    .gallery_leftsecond {
        position: relative;
        top: 23%;
        left: 15%;
    }

    .gallery_rightfirst {
        position: relative;
        top: -27%;
        right: -10%;
    }

    .gallery_rightsecond {
        position: relative;
        top: 23%;
        right: 15%;
    }

    .services {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .services_barber {
        max-height: 50%!important;
        display: flex;
        justify-content: center;
    }

    .services_barber > img {
        height: 100%;
        width: auto;
    }

    .services_circles {
        max-height: 60%!important;
    }

    .services_circles_circle > figcaption {
        font-size: 3rem;
    }

    h1 {
        font-size: 7rem;
        max-height: 15%!important;
    }

    .team_cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 85%!important;
    }

    .team_card_hidden {
        font-size: 3rem;
        border-radius: 0 0 2rem 2rem;
    }

    .contact {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact_section_content {
        display: flex;
        flex-direction: column;
        max-height: 50%;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 3rem;
    }

    .contact_section_info {
        font-size: 2rem;
    }

    .links_media {
        display: flex;
        flex-direction: row;
    }

    .media {
        display: inline-block;
        margin: 0 2rem;
        vertical-align: middle;
    }

    .contact_section_map {
        height: 100%!important;
    }

    iframe {
        height: 90%;
        width: 100%;
    }


}

@media screen and (max-width: 768px) {
    :root {
        font-size: 7px;
        --circle_g: 35rem;
        --circle_v: 40rem;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery_img {
        height: 25%;
    }

    .gallery img {
        max-height: 100%;
        min-height: 44%;
        width: auto;
    }

    .services {
        display: flex;
        justify-content: center;
    }

    .services_barber {
        display: none;
    }

    .services_circles {
        width: 90%;
    }

    h1 {
        font-size: 5rem;
        margin: 2rem 0 1rem;
    }

    .team_cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }

    .team_cards_card {
        position: relative;
        max-height: 24.5%;
    }

    .team_cards_card img {
        height: 100%;
    }

    .team_card_hidden {
        font-size: 2rem;
        border-radius: 0 0 1.5rem 1.5rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        height: 87%;
        justify-content: space-between;
    }

    .contact_section {
        display: flex;
        flex-direction: column;
    }

    .contact_section_visual {
        height: 50%;
    }

    .contact_section_form {
        display: none;
    }

    .contact_section_map {
        height: 100%;
        width: 100%;
    }

    iframe {
        height: 100%!important;
        width: 100%;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 3rem;
    }

    .contact_section_content {
        height: 50%;
    }

    .contact_section_info {
        font-size: 2rem;
    }

    .links_media {
        display: flex;
        flex-direction: row;
    }

    .media {
        display: inline-block;
        margin: 0 2rem;
    } 

}