body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;    
}

a {
    text-decoration: none;
}

/*Ліва частина з формою*/

.form {
    width: 55%;
    background-image: url("../img/bg-img.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2%;
}

/*Верхнє меню лівої частини*/

.form_mainmenu { 
    margin-top: 2%;
    margin-left: 6%;
}

.form_mainmenu > a {
    color: #6E9195;
    font-size: 24px;
}

/*Форма*/

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    margin: auto;
}

.form_title {
    font-size: 24px;
    color: #000000;
    width: 100%;
    margin-bottom: 10%;
}

/*Поля форми*/

.form_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.form_field {
    width: 100%;
    margin: 5% 0 0 0;
}

.form_label {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

input {
    display: inline-block;
    width: 100%;
    height: 2em;
    margin: 2% 0;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}

input::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #CCCCCC;
    padding-left: 1em;    
}

.text_in_form_top {
    font-size: 12px;
    color: #C4C4C4;
}

.text_in_form_bottom {
    font-size: 12px;
    font-weight: 400;
    color: #CCCCCC;
}

/*Кнопка*/

button {
    background-color: #284A5E;
    border-radius: 4px;
    border: 1px solid #284A5E;
    box-sizing: border-box;
    color: #FFFFFF;
    width: 100%;
    height: 2em;
}

/*Нижнє посилання*/

.form_loginlink {
    color: #C4C4C4;    
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.form_loginlink > a {
    color: #476D73;
    text-decoration: underline;
}

/*Права частина з цитатою*/

.quote {
    width: 45%;
    background-image: linear-gradient(#517879, #1E3E57);
    display: flex;
    flex-direction: column;
}

/*Верхнє меню правої частини*/

.quote_mainmenu {
    margin-top: 2%;
    margin-right: 20%;
    display: flex;
    justify-content: flex-end;
}

.quote_mainmenu_items {
    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: flex-start;
}

.quote_mainmenu_items > li > a {
    font-size: 16px;
    color: #FFFFFF;
}

/*Цитата*/

.quote_content {
    color: #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
    text-shadow: 4px 4px rgba(255, 255, 255, 0.1);
}

.quote_content_quote {
    font-size: 64px;    
}

.quote_content_caption {
    font-size: 16px;
}