body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

div {
    display: inline-block;
}

header {
    background-color: #202846;
    position: fixed;
    height: 90px;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    vertical-align: middle;
    z-index: 2;
}

main {
    background-color: #F5F5F5;
    position: relative;
    top: 90px;
}

.logo {
    height: 70px;
    position: absolute;
    left: 5%;
    top: 10px;
}

.lang {
    position: absolute;
    right: 5%;
    vertical-align: middle;
}

.change-lang {
    position: absolute;
    top: 30%;
}

/*Меню навігації*/

.navigation {
    position: absolute;
    right: 15%;
    padding-top: 15px;
    text-align: center;
}

.navbar {
    display: flex;    
    align-items: center;
    margin: 0;
}

.navbar li {
    list-style: none;
    margin-right: 20px;
}

.navbar li a {
    text-decoration: none;
    color: #FFFFFF;
}

/*Блок з картками*/

.mainsectionbar {
    display: block;
    height: 140px;
    background-color: #C6C6DC;
    font-style: italic;
    font-size: 48px;
}

.sectionbar {
    height: 50px;
    padding-left: 10%;
    padding-top: 90px;
	margin-top: -90px;
}

.sectionbar-name {
    padding-top: 30px;
}

.maincontent {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 185px;
}

.hidden-list {
    position: relative;
    background-color: #E8E8E8;
    width: 100%;
    height: 73px;
    font-size: 28px;
    text-align: center;
    margin: 56px 0;
}

.hidden-list-name {
    height: 30px;
    padding-top: 15px;
}

.hidden-list-arrow {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 30px;
    height: 30px;    
    background-color: #000000;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

section {
    position: relative;
    height: 300px;
    margin-bottom: 36px;
    background-color: #BDBDC6;
}

section:hover {
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card {
    width: 90%;
    position: relative;
    left: 5%;
    top: 5%;
}

.card-foto {
    display: inline-block;
    width: 30%; 
    vertical-align: middle;
}

.foto {
    width: 100%;
}

.card-content {
    width: 63%;
    position: relative;
    left: 5%;
    vertical-align: middle;
}

.card-name {
    display: block;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
}

.card-info {
    display: block;
    margin-top: 10px;
    background-color: #D7D7DD;
    font-size: 22px;
    text-align: center;
    height: 184px;
    overflow: auto;
    padding: 10px;
}

.card-button {
    position: absolute;
    right: -48px;
    bottom: 10px;
    height: 60px;
    width: 200px;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 18px;
    background-color: #202846;
    border-radius: 60px;
}

.card-button a {
    text-decoration: none;
    color: #FFFFFF;
}

section:hover .card-button {
    background-color: #EF075B;
}

.card-star {
    position: absolute;
    top: 15px;
    right: 15px;
}

.card-star svg .card-star-color {
    fill: #FFFFFF;
}

section:hover .card-star svg .card-star-color {
    fill: #FFFF00;
}

/*Стрілка наверх*/

.arrow {
    position: fixed;
    right: 50px;
    bottom: 50px;
    opacity: 50%;    
}


