div
{
    display: inline-block;
}

.main
{
    padding-left: 10%;
}

.square
{
    
    height: 512px;
    width: 512px;
    background-image: linear-gradient(#2137FC 50%, #FFCE22 50%);
    margin: 10px;
    vertical-align: top;
}

.circle
{
    height: 512px;
    width: 512px;
    background-image: linear-gradient(#2137FC 50%, #FFCE22 50%);
    margin: 10px;
    border-radius: 50%;
    vertical-align: top;
}

.speechify-s-glyph
{
    margin: 142px 52px;
    width: 408px;
}

.speechify-c-glyph
{
    margin: 240px 52px;
    width: 408px;
}

.petcube-s-black
{
    height: 330px;
    width: 300px;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
    background-color: #000000;
    margin-top: 91px;
}

.petcube-s-white
{
    height: 300px;
    width: 270px;
    clip-path: polygon(5% 25%, 46% 5%, 86% 25%, 86% 65%, 46% 86%, 5% 65%);
    background-color: #FFFFFF;
    padding: 10%;
}

.petcube-c-black
{
    height: 330px;
    width: 300px;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
    background-color: #000000;
    margin-top: 91px;
    margin-left: 106px;
}

.petcube-c-white
{
    height: 300px;
    width: 270px;
    clip-path: polygon(5% 25%, 46% 5%, 86% 25%, 86% 65%, 46% 86%, 5% 65%);
    background-color: #FFFFFF;
    padding: 10%;
}

.cube
{
    margin-left: 7%;
    margin-top: 30%;
}

.spark-s
{
    height: 350px;
    width: 350px;
    clip-path: polygon(50% 0, 100% 90%, 65% 75%, 50% 100%, 35% 75%, 0 90%);
    background-color: #FFFFFF;
    margin-top: 162px;
    margin-left: 162px;
}

.spark-c
{
    height: 350px;
    width: 350px;
    clip-path: polygon(50% 0, 100% 90%, 65% 75%, 50% 100%, 35% 75%, 0 90%);
    background-color: #FFFFFF;
    margin-top: 81px;
    margin-left: 81px;
}

.b-square
{
    
    height: 512px;
    width: 512px;
    background-color: #000000;
    margin: 10px;
    vertical-align: top;
}

.diya
{
    height: 180px;
    width: 310px;
    margin-top: 166px;
    margin-left: 101px;
}

.diya-flag
{
    height: 180px;
    width: 310px;
    margin-top: 85px;
    margin-left: 101px;
}

.flag-left
{
    height: 60px;
    margin-top: 23px;
    margin-left: 21px;
}

.flag-right
{
    height: 60px;
    margin-left: 310px;
}

.diya-flag-middle
{
    height: 180px;
    width: 310px;
    margin-top: 128px;
    margin-left: 101px;
}

.flag-middle
{
    height: 60px;
    margin-top: 30px;
    margin-left: 216px;
}

