:root {
    --font: 'Rosario', sans-serif;
    --circle_g: 30rem;
    --circle_v: 35rem;
    --circle_a: 20s;
    font-size: 10px;
}

@media screen and (max-width: 1400px) {
    :root {
        --circle_g: 40rem;
        --circle_v: 40rem;
        font-size: 7px;
    }   
}

body {
    margin: 0;
    font-family: var(--font);
    font-weight: 700;
    font-size: 1rem;
}

main {
    max-width: 1620px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*Панель навігації*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 12rem;
    width: 100%;
    padding: 0;
    position: fixed;
    z-index: 2;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
}

nav {
    width: 80%;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu > li {
    display: inline-block;
    margin-right: 6%;
}

.menu a {
    font-size: 3.6rem;
    font-style: italic;
    color: #FFFCFC;
}

/*Основний контент*/

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;   
}

.fullheight {    
    padding-top: 12rem;
    box-sizing: border-box;
    height: 100vh;
}

/*Перша сторінка*/

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.gallery_img {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_img > img {
    width: 90%;
    margin: 5% 0;
}

.gallery_leftfirst {
    position: relative;
    animation: leftfirst 1s linear;
}

@keyframes leftfirst {
    from {left: -100%;}
    to {left: 0;}
}

.gallery_rightfirst {
    position: relative;
    animation: rightfirst 1s linear;
}

@keyframes rightfirst {
    from {right: -100%;}
    to {right: 0;}
}

.gallery_leftsecond {
    position: relative;
    animation: leftsecond 2s linear;
}

@keyframes leftsecond {
    from {left: -100%;}
    to {left: 0;}
}

.gallery_rightsecond {
    position: relative;
    animation: rightsecond 2s linear;
}

@keyframes rightsecond {
    from {right: -100%;}
    to {right: 0;}
}

/*Друга сторінка*/

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.services_circles {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services_circles_circle {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_circles_circle > img {
    width: 100%;
}

.services_circles_circle > figcaption {
    font-size: 4.8rem;
    font-style: italic;
    color: #000000;
    text-align: center;
}

.services_barber {
    width: 50%;
}

.services_barber > img {
    width: 100%;
}

.circle_lt {
    position: relative;
    animation: circle_lt var(--circle_a) infinite;
}

@keyframes circle_lt {
    0% {left: 0; top: 0;}
    25% {left: var(--circle_g); top: 0;}
    50% {left: var(--circle_g); top: var(--circle_v);}
    75% {left: 0; top: var(--circle_v);}
    100% {left: 0; top: 0;}
}

.circle_rt {
    position: relative;
    animation: circle_rt var(--circle_a) infinite;
}

@keyframes circle_rt {
    0% {right: 0; top: 0;}
    25% {right: 0; top: var(--circle_v);}
    50% {right: var(--circle_g); top: var(--circle_v);}
    75% {right: var(--circle_g); top: 0;}
    100% {right: 0; top: 0;}
}

.circle_lb {
    position: relative;
    animation: circle_lb var(--circle_a) infinite;
}

@keyframes circle_lb {
    0% {left: 0; bottom: 0;}
    25% {left: 0; bottom: var(--circle_v);}
    50% {left: var(--circle_g); bottom: var(--circle_v);}
    75% {left: var(--circle_g); bottom: 0;}
    100% {left: 0; bottom: 0;}
}

.circle_rb {
    position: relative;
    animation: circle_rb var(--circle_a) infinite;
}

@keyframes circle_rb {
    0% {right: 0; bottom: 0;}
    25% {right: var(--circle_g); bottom: 0;}
    50% {right: var(--circle_g); bottom: var(--circle_v);}
    75% {right: 0; bottom: var(--circle_v);}
    100% {right: 0; bottom: 0;}
}

/*Третя сторінка*/

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

h1 {
    font-size: 9.6rem;
    margin: 5rem 0;    
}

.team_cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.team_cards_card img {
    width: 100%;
}

.team_cards_card {
    width: 17%;
    position: relative;
    border-radius: 4rem;
}

.team_card_hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    font-family: 'Volkhov', serif;
    color: #FFFAFA;
    font-size: 4.8rem;
    font-weight: 400;
    bottom: 0;
    height: 25%;
    border-radius: 0 0 4rem 4rem;
    width: 100%;
    transition: all .3s linear;
    background-color: rgb(163, 83, 10, .7);
}

.team_cards_card:hover > .team_card_hidden {
    visibility: visible;
    opacity: 1;
}

.team_cards_card:hover ~ div[class*="brightness"] {
    filter: brightness(.5);
    transition: all .3s linear;
}

/*Четверта сторінка*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

h2 {
    font-size: 6.4rem;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 3.6rem;
    margin-top: 0;
}

.contact_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_section_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

form {
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

.form_elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

input {
    width: 45%;
    height: 6.5rem;
}

input::placeholder {
    font-family: var(--font);
    font-size: 3.6rem;
    color: rgba(0, 0, 0, .5);
    padding-left: 1.5rem;
}

textarea {
    width: 100%;
    height: 20rem;
    resize: none;
    font-family: var(--font);
    font-size: 3.6rem;
    color: rgba(0, 0, 0, .5);
    padding-left: 1.5rem;
}

.contact_section_map {
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    height: 50rem;
}

.contact_section_info {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    margin: 1.5rem;
}

.contact_info_span {
    font-style: normal;
    font-weight: 700;
}

.contact_section_info a {
    color: #000000;
}

.links_media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.5rem;
    padding-top: .7rem;
    box-sizing: border-box;
}

.links_media img {
    width: 2.5rem;
    height: 2.5rem;
}


