
body 
{
    font-family: 'Inter', sans-serif;
}

.strong-uk
{
    height: 110px;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #3E45E8;
    padding-top: 25px;
}

.h-yellow
{
    color: #E8C23E
}

.f-yellow
{
    color: #DFE31E;
}

.header-fon
{
    height: 803px;
    background-image: url("../img/header-fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 228px;
    padding-left: 80px;
}

.header-content
{
    height: 277px;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 1%;
    padding-left: 59px;
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
}

.main
{
    padding: 0 80px;
    box-sizing: border-box; 
}

.h1
{
    font-size: 40px;
    font-weight: 700;
    margin: 70px 0px 50px 0px;
}

.line
{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    
}

.f-line
{
    margin: auto;
}

.card
{
    display: inline-block;
    width: 30%;
    border-radius: 30px; 
    vertical-align: top;
    box-sizing: border-box;
    box-shadow: 0px 4px 57px rgba(0, 0, 0, 25%);
}

.card-img
{
    border-radius: 10px;
    width: 100%;
}

.card-title
{
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    box-sizing: border-box;
    padding: 0px 10px;
    min-height: 80px;
}

.card-content
{
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    box-sizing: border-box;
    padding: 0px 10px;
    min-height: 150px;
}

.card-middle
{
    margin: 0 4%;
}

.f-block
{
    margin-top: 70px 0px;
    text-align: center;
}

.button
{
    margin: auto;
    width: 590px;
    padding: 10px;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #2A61F0;
}

.footer
{
    background-color: #2F4A4B;
    margin-top: 20px;
    padding-bottom: 20px;  
}

.info
{
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.link-info
{
    text-decoration: none;
    color: #A89D9D;
}

.media
{
    margin: 20px 0px;
    text-align: center;
}

.img-media
{
    display: inline-block;
    max-width: 64px;
    max-height: 64px;
    margin: 10px;
}